.navbar{
    background-color: #292929;
}
.nav-link, .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background-color: #f4f4f4;
    color: #292929;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background-color: #fff !important;
}
.simpleswap{
    margin: 4em 0;
    position: relative;
}
.simpleswap h1{
    color:#292929;
    margin: 2em;
    margin-bottom: 1em;
}
.simpleswap p{
    color:#292929;
    margin-bottom: 1em;
}
.simpleswap .card{
    box-shadow: 0 0 20px #ccc;
    margin-top: 1em;
    height: 15em;
    display: grid;
    justify-content: center;
}
.simpleswap .card .img-card{
    height: 15em;
}

.check{
    display: grid;
    justify-content: center;
    align-content: center;
}
.check h5{
    display: none;
}


.correct{
    color: #14ad00;
}

.uncorrect{
    color: #d10000;
}

.tray{
    background-color: #ccc;
}

.simpleswapcode{
    margin: 4em 0;
    position: relative;
}
.simpleswapcode h1{
    color:#292929;
    margin: 2em;
    margin-bottom: 1em;
}
.simpleswapcode p{
    color:#292929;
    margin-bottom: 1em;
    font-size: 1.5em;
}
.simpleswapcode .card{
    box-shadow: 0 0 20px #ccc;
    margin-top: 1em;
    width: 2em;
    height: 2em;
}
.simpleswapcode .card p{
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.simpleswapcode .field{
    margin-left: 1em;
}

.field .card{
    width: 3em;
    height: 3em;
}
.field p{
    margin-top: 1em;
}


.example{
    margin: 4em 0;
    position: relative;
}
.example h1{
    color:#292929;
    margin: 2em;
    margin-bottom: 1em;
}
.example p{
    color:#292929;
    margin-bottom: 1em;
}
.example .card{
    box-shadow: 0 0 20px #ccc;
    margin-top: 1em;
    height: 15em;
    display: grid;
    justify-content: center;
}
.example .card .img-card{
    height: 15em;
}

.mathswapcode{
    margin: 4em 0;
    position: relative;
}
.mathswapcode h1{
    color:#292929;
    margin: 2em;
    margin-bottom: 1em;
}
.mathswapcode p{
    color:#292929;
    margin-bottom: 1em;
    font-size: 1.5em;
}
.mathswapcode .card{
    box-shadow: 0 0 20px #ccc;
    margin-top: 1em;
    width: 2em;
    height: 2em;
}
.mathswapcode .card p{
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.mathswapcode .field .card{
    width: 3em;
    height: 3em;
}
.mathswapcode .field{
    margin-left: 1em;
}

.mathswap{
    margin: 4em 0;
    position: relative;
    
}
.mathswap h1{
    color:#292929;
    margin: 2em;
    margin-bottom: 1em;
}
.mathswap p{
    color:#292929;
    margin-bottom: 1em;
    font-size: 1.5em;
}
.mathswap .card{
    box-shadow: 0 0 20px #ccc;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
    width: 8em;
    height: 3em;
}
.mathswap .card img{
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
    margin-bottom: 1em;
}

.mathswap .field .card{
    width: 8em;
    height: 3em;
}
.mathswap .field .card img{
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0;
}
.mathswap .field{
    margin-left: 1em;
}