.navbar{
    background-color: #292929;
}
.nav-link, .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background-color: #f4f4f4;
    color: #292929;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background-color: #fff !important;
}
.simpleswap{
    margin: 4em 0;
    position: relative;
}
.simpleswap h1{
    color:#292929;
    margin: 2em;
    margin-bottom: 1em;
}
.simpleswap p{
    color:#292929;
    margin-bottom: 1em;
}
.simpleswap .card{
    box-shadow: 0 0 20px #ccc;
    margin-top: 1em;
}
.simpleswap .card .img-card{
    height: 20em;
}

.check{
    display: grid;
    justify-content: center;
    align-content: center;
}
.check h5{
    display: none;
}


.correct{
    color: #14ad00;
}

.uncorrect{
    color: #d10000;
}

.tray{
    background-color: #ccc;
}